<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{# each items}}
        <div class="post-preview" id="{{this.id}}">
          <a href="/post:{{this.id}}">
            <h2 class="post-title">
              {{this.headerName}}
            </h2>
          </a>
          <button type="button" onclick=""
        </div>
        {{/each}}
      </div>
    </div>
</div>